<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Renderizar Listas.</title>
       <style>
           body{
               margin: 20px 30px auto 30px;
               text-align: center;
           }
        </style>

</head>
<body>

      <div id="app">
          <form @submit.prevent="Add">
              <label for="novo"></label>
              <input type="text" v-model="novo_todo" id="novo">
              <button>Adcionar</button>
          </form>

          <ul>
              <li is="todo-item" v-for="(todo,index) in todos" :key="todo.id" :title ="todo.title"></li>
          </ul>


       
      </div>
    


    <script src="../vue.js"></script>
    <script>
        //Criar componete todo-item
            Vue.component('todo-item',{
                template:'\
                     <li>\
                    {{title}}\
                    <button @click="$emit(\'remove\')">Remove</button>\</li>\
                   ',
                   props:['title']
            });







       //=====================================================================
        const options = {
            el: "#app",
             data(){
                 return{
                    novo_todo:'',
                    todos:[
                        {
                        id:1,
                        title:"Comer Manga"

                        },
                        {
                        id:2,
                        title:"Comer dfcfvfv"

                        },
                        {
                        id:3,
                        title:"Te matar"

                        }
                    ],
                    nextid : 4
                 }
             },
             methods:{
                Add:function(){
                    //this.fruits.set(0,{name:'foo'});
                    this.todos.push({
                    id: this.nextid++,
                    title:this.novo_todo})

                    
                    this.novo_todo = ""
                    console.log(this.todos)
                }
             }
        };
        //======================================================================
         const app = new Vue(options);   




    </script>
</body>
</html>